<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <h1>Code Transaction: {{detail.code}}</h1>

    <h1><strong>Envoyeur</strong></h1>
    Nom: {{detail.nomExp}}<br>
    Prenom: {{detail.prenomExp}}<br>
    Telephone:{{detail.telephonExp}}<br>
    Typepiece:{{detail.typePiece}}<br>
    Montant:{{detail.montant}}<br>
    Numéro piécce:{{detail.numeropieceEXp}}
          <br>
    <h1><strong>Bénéficiaire</strong></h1>
    Nom: {{detail.nomBen}}<br>
    Prenom: {{detail.prenomBen}}<br>
    Telephone:{{detail.telephonBen}}<br>
  </ion-card-content>
</ion-content>
