<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Transaction</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- dfghjk -->
    <!--<button ion-button full round (click)="onButtonClick()">Envoi</button>
    <div class="row"></div>
    <button ion-button full round (click)="offButtonClick()">Retrait</button>-->

    <div class="flex">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="primary" shape="round" type="submit" (click)="onButtonClick()">
                        <ion-icon slot="start" name="send"></ion-icon>
                        Envoie
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="success" shape="round" type="submit" (click)="offButtonClick()">
                        <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                        Retrait
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    
    </div>

        <h5 *ngIf="butonClicked">Envoyeur </h5>

    <form [formGroup]="envoie" (ngSubmit)="onsubmit()">

        <!-- <ion-input *ngIf="buttonClicked" type="text" value=""></ion-input> -->
        <!-- tghjk -->
            <div *ngIf="butonClicked"> 
                <ion-item class="form-group">
                <ion-input type="text" formControlName="nomExp" placeholder="nomExp"></ion-input>
                <div *ngFor="let error of erreurmes.nomExp">
                    <div *ngIf="envoie.get('nomExp').hasError(error.type) &&
                                                                                                                                         (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
               </ion-item>

            <ion-item>
                <ion-input type="text" formControlName="prenomExp" placeholder="prenomExp"></ion-input>
                <div *ngFor="let error of erreurmes.prenomExp">
                    <div *ngIf="envoie.get('prenomExp').hasError(error.type) &&
                                                                                                                                                                                                                  (envoie.get('prenomExp').dirty || (envoie.get('prenomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-input type="text" formControlName="telephonExp" placeholder="telephonExp"></ion-input>
                <div *ngFor="let error of erreurmes.telephonExp">
                    <div *ngIf="envoie.get('telephonExp').hasError(error.type) &&
                                                                                                                                           (envoie.get('telephonExp').dirty || (envoie.get('telephonExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Type de Piece
                </ion-label>
                <ion-select type="typePiece" value="brown" oktext="OK" canceltext="Annuler">
                    <ion-select-option value="CIN">CIN</ion-select-option>
                    <ion-select-option value="Passeport">Passeport</ion-select-option>
                    <ion-select-option value="Permis de Conduire">Permis de Conduire</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-input type="number" formControlName="montant" placeholder="montant"></ion-input>
                <div *ngFor="let error of erreurmes.montant">
                    <div *ngIf="envoie.get('montant').hasError(error.type) &&
                                                                                                                                           (envoie.get('montant').dirty || (envoie.get('montant').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-input type="number" formControlName="numeropieceEXp" placeholder="numeropieceExpediteur"></ion-input>
                <div *ngFor="let error of erreurmes.numeropieceEXp">
                    <div *ngIf="envoie.get('numeropieceEXp').hasError(error.type) &&
                                                                                                                                          (envoie.get('numeropieceEXp').dirty || (envoie.get('numeropieceEXp').touched))">
                        {{error.message}}
                    </div>
                </div>

            </ion-item>

                 <h5>Bénéficiaire</h5>

        </div>

        
            <ion-item class="form-group"  *ngIf="butonClicked">
                <ion-input type="text" formControlName="nomBen" placeholder="nomBen"></ion-input>
                <div *ngFor="let error of erreurmes.nomBen">
                    <div
                        *ngIf="envoie.get('nomBen').hasError(error.type) &&
                                                                                                                                                     (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>

            <ion-item class="form-group"  *ngIf="butonClicked">
                <ion-input type="text" formControlName="prenomBen" placeholder="prenomBen"></ion-input>
                <div *ngFor="let error of erreurmes.prenomBen">
                    <div
                        *ngIf="envoie.get('prenomBen').hasError(error.type) &&
                                                                                                                                                                 (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>

            <ion-item class="form-group"  *ngIf="butonClicked">
                <ion-input type="text" formControlName="telephonBen" placeholder="telephonBen"></ion-input>
                <div *ngFor="let error of erreurmes.telephonBen">
                    <div
                        *ngIf="envoie.get('telephonBen').hasError(error.type) &&
                                                                                                                                                                             (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>

            <ion-item class="form-group" *ngIf="butonClicked">
                <ion-input type="text" formControlName="numeropieceBen" placeholder="numeropieceBen"></ion-input>
                <div *ngFor="let error of erreurmes.numeropieceBen">
                    <div
                        *ngIf="envoie.get('numeropieceBen').hasError(error.type) &&
                                                                                                                                                                                         (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                        {{error.message}}
                    </div>
                </div>
            </ion-item>



      
        <ion-button type="submit" *ngIf="butonClicked"> Envoyer</ion-button>
    </form>

    <form [formGroup]="retrait" *ngIf="!butonClicked" (ngSubmit)="onsubmite()">

        <ion-item>
            <ion-input type="text" formControlName="code" placeholder="code"></ion-input>
            <div *ngFor="let error of erreurmes.code">
                <div
                    *ngIf="envoie.get('code').hasError(error.type) &&
                                                                                                                                                 (envoie.get('code').dirty || (envoie.get('code').touched))">
                    {{error.message}}
                </div>
            </div>
        </ion-item>
        
        <ion-item>
            <ion-label position="floating">Type de Piece </ion-label>
            <ion-select type="typePiece" formControlName="typepieceBen" value="brown" oktext="OK" canceltext="Annuler">
                <ion-select-option value="CIN">CIN</ion-select-option>
                <ion-select-option value="Passeport">Passeport</ion-select-option>
                <ion-select-option value="Permis de Conduire">Permis de Conduire</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="form-group">
            <ion-input type="text" formControlName="numeropieceBen" placeholder="numeropieceBen"></ion-input>
            <div *ngFor="let error of erreurmes.numeropieceBen">
                <div
                    *ngIf="envoie.get('numeropieceBen').hasError(error.type) &&
                                                                                                                                                                                                 (envoie.get('nomExp').dirty || (envoie.get('nomExp').touched))">
                    {{error.message}}
                </div>
            </div>
        </ion-item>

        <ion-button type="submit" >Retrait</ion-button>

    </form>

</ion-content>
